---
---

a.post-preview {
  &:hover {
    box-shadow: 0 10px 15px -10px rgba(30,45,62,.21), 0 5px 40px -10px rgba(31,44,60,.1);
    text-decoration: none;
  }
  .card-title {
    font-size: 18px;
    font-weight: 400;
  }
  .card-text {
    font-size: 14px;
    font-weight: 300;
  }
}

.video-preview {
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 300px;
  position: relative;
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .title {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 300;
      -webkit-transition: margin-top 0.3s;
      -moz-transition: margin-top 0.3s;
      -ms-transition: margin-top 0.3s;
      -o-transition: margin-top 0.3s;
      transition: margin-top 0.3s;
    }
    .subtitle {
      font-size: 12px;
      font-style: italic;
      font-weight: 300;
    }
  }
  &:hover {
    .overlay {
      opacity: 1;
    }
    .post-title {
      margin-top: -10px;
    }
  }
}