---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead"
        style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
    {% else %}
    <header class="masthead">
        {% endif %}
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="page-heading">
                        <h1>{{ site.title }}</h1>
                        {% if site.description %}
                        <span class="subheading">{{ site.description }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container p-5">

        <!-- Home Post List -->
        <div class="row">

            {% for post in site.posts %}
            <div class="col-lg-4 col-md-6">
                <a href="{{post.url}}" class="card mb-4 post-preview">
                    <img class="card-img-top" src="{{post.background}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <div class="card-text">
                            {{ post.excerpt | strip_html | truncatewords: 15 }}
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}

        </div>

    </div>
